@import url(https://fonts.googleapis.com/css2?family={font_family}&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

@import url(https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=M+PLUS+1+Code:wght@100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

body {
    background-color: rgb(184, 184, 233);
    font-family: "Labrada", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #121d28;
}

.navbar {
    background-color: #7f9ebd;
    padding: 10px 0;
}

.navbar-brand {
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: none;
}

.navbar-wrapper {
    display: flex;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
}

.hero-heading {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.2rem;
}
