@import url(https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=M+PLUS+1+Code:wght@100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);


body {
    font-family: "Labrada", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    background-color: #ffffff;
    color: #050c14;
    margin: 0;
    background-image: url();
    background-size: cover; /* Підібрати розмір зображення */
    background-position: center; /* Вирівняти зображення по центру */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

h6, .h6 {
    font-size: 1rem;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
    letter-spacing: 0.1em;
}

.text-muted {
    color: #a3b3bf !important;
}

.block {
    margin-top: 20px; /* Відступ зверху */
    margin-right: 20px; /* Відступ справа */
    margin-bottom: 15px; /* Відступ знизу */
    margin-left: 30px; /* Відступ зліва */
  }
  
  /* navbar 24/04 */

.navbar-nav {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    color: #9489da;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #ccc;
}

.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ccc9c9;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

.navbar-nav .nav-link:hover {
    color: #999;
}

.navbar-nav {
    margin-left: 10; /* Видаляємо внутрішній відступ */
}

.nav-item {
    margin-left: 20px; /* Встановлюємо відступ для кожного елемента */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper {
    display: flex;
}

.navbar-brand{
    font-size:1.25rem;
    text-decoration:none;
    white-space:nowrap
}

.navbar-nav{
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navbar-nav .nav-link{
    color:rgba(0,0,0,0.95);
    font-size:0.9rem;
    text-decoration: none;
}

.nav-item{
    margin-right: 1rem;
    margin-right: 10px;
    margin-bottom: 10px; /* Відступ між елементами меню */
}
.navbar-nav .nav-link.active{
    color:#4946dd;
    font-weight:700
}

.hero {
    background-size: cover;
    background-position: center;
    height: 400px;
}

.social-icon {
    background: none;
    color: #9dc6ef;
    font-size: 1.5rem;
    text-decoration: none;
    width: 34px;
    height: 34px;
    display: block;
    padding: 20px; /* Відступи з усіх сторін */
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.product {
    width: 250px;
}

#newArrivals {
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 20px;
}

.divider {
    padding-top: 20px;
    padding-bottom: 300px;
    background-attachment: fixed !important;
    height: 5px;
    background: linear-gradient(to right, #ADD8E6 5%, #87CEEB 17%, #4682B4 40%, #0000FF 85%, #191970 95%);
}

.footer {
    background-color: #1b1e21;
    padding: 50px 0;
    color: #877a7a;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #8c8484;
    text-decoration: none;
}

.footer form {
    margin-top: 10px;
}

.footer input[type="email"],
footer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer input[type="email"] {
    width: 20%;
}

.footer button {
    background-color: #51585f;
    color: #fff;
    cursor: pointer;
}

.footer p {
    color: #e6d7d7;
}

.table {
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
    vertical-align: top;
    border-collapse: collapse;
}

.th, .td {
    border: 1px solid #907676;
    border-width: 0;
    border-color: inherit;
    text-align: left;
    padding: 8px;
}

.th {
    background-color: #f2f2f2;
    padding: 1rem;
    font-weight: 700;
    text-align: left;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.img {
    max-width: 10px;
    height: auto;
}

/* Підвал */

.footer {
    background-color: #333; /* Колір футера */
    color: #fff; /* Колір тексту у футері */
    padding: 50px 0; /* Відступи у футері */
}

.footer h3 {
    color: #fff; /* Колір заголовків у футері */
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #f1eeee; /* Колір посилань у футері */
    text-decoration: none;
}

.footer ul li a:hover {
    color: #aa7575; /* Колір посилань у футері при наведенні */
}

.footer form {
    margin-top: 10px;
}

.footer input[type="email"],
.footer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer input[type="email"] {
    width: 70%; /* Ширина поля вводу email */
}

.footer button {
    background-color: #007bff; /* Колір кнопки */
    color: #fff; /* Колір тексту на кнопці */
    cursor: pointer;
}

.footer p {
    color: #ccc; /* Колір тексту в футері */
}


/* Table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table .table {
    background-color: #fff;
  }
  
  /* Table Head */
  .table-dark th {
    color: #5b9b70;
    background-color: #343a40;
    border-color: #454d55;
  }
  
  /* Table Body */
  .table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  /* Table Footer */
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /* Table Responsive */
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }

  .table thead {
    vertical-align: bottom;
}

.table th {
    padding: 1rem 0;
    color: rgb(161, 160, 170);
    font-weight: 700;
    text-align: left;
}

.table tr {
    display: table-row;
}

.table td {
    padding: .5rem 0;
    display: table-cell;
}

.table td .remove{
    width: 28px;
    height: 28px;
    padding: 6px;
    color: rgb(237, 165, 129);
}

/* Сторінка Контакти */

body {
    font-family: "Labrada", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Колір фону сторінки */
}

header {
    background-color: #333; /* Колір фону заголовка */
    color: #fff; /* Колір тексту заголовка */
    padding: 20px;
    text-align: left;
}

main {
    padding: 20px;
}

.contact-info {
    background-color: #fff; /* Колір фону блоку контактної інформації */
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь блоку */
}

footer.footer {
    background-color: #222; /* Колір фону футера */
    color: #644c4c; /* Колір тексту у футері */
    padding: 20px;
    text-align: left;
}

.footer {
    margin-top: 50px; /* Відступ зверху футера для головної сторінки */
}

.dark-footer {
    background-color: #343a40; /* Чорний фон */
    color: #ffffff; /* Білий колір тексту */
    padding: 50px 0; /* Подушечка вниз і вгору для зручності читання */
}


/* Стилі для 10 уроку (flexbox)!!! */

/* Стилізація контейнера з рядками та бічним баром */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Стилізація бічного бару */
  .sidebar {
    background-color: none;
  }
  
  /* Стилізація заголовка бічного бару */
  .sidebar header {
    margin-bottom: 10px;
  }
  
  /* Стилізація контейнера з новинками */
  .catalog {
    background-color: #f2f7f3;
    padding: 20px;
    border: 1px solid #d5dfe9;
    border-radius: 5px;
  }
  
  /* Стилізація заголовка контейнера з новинками */
  .catalog header {
    margin-bottom: 10px;
  }
  
  /* Стилізація продукту */
  .product {
    position: relative;
    overflow: hidden;
  }
  
  /* Стилізація зображення продукту */
  .product img {
    transition: transform 0.5s ease;
  }
  
  /* Збільшення зображення продукту при наведенні */
  .product:hover img {
    transform: scale(1.1);
  }
  
  /* Стилізація тексту */
  .text-center {
    text-align: center;
  }
  
  /* Збільшення розміру заголовка на мобільних пристроях */
  @media (max-width: 767px) {
    .h2 {
      font-size: 24px;
    }
  }
  
/* Гнучка сітка для колонок на різних розмірах екрану */
@media (min-width: 480px) {
    .col-xsm-3 {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 560px) {
    .col-sm-3 {
        width: calc((100% / 12) * 6);  
    }
}

@media (min-width: 760px) {
    .col-md-3 {
        width: calc((100% / 12) * 5);  
    }
}

@media (min-width: 960px) {
    .col-lg-3 {
        width: calc((100% / 12) * 4);  
    }
}

/* Гнучка сітка для вмісту на різних розмірах екрану */
.catalog, .sidebar {
   width: 100%;
}

@media (min-width: 760px) {
    .catalog {
        flex: 4;
        order: 1;
    }
    
    .sidebar {
        flex: .5;
        order: 2;
    }
}
